# Lista de librerías necesarias (tensorflow, fastapi, etc.)

/********************************************************************
Terminal: vs code como orquestador
********************************************************************/






/********************************************************************
IAAP
********************************************************************/
