# Lista de librerías necesarias (tensorflow, fastapi, etc.)

/********************************************************************
Terminal: vs code como orquestador
********************************************************************/
#Backend
pip install tensorflow
pip install geopandas shapely

#usado para el frontend
pip install streamlit folium streamlit-folium


/********************************************************************
IAAP
********************************************************************/
